<div class="displayTable text-center">
    <div class="displayTableCell">

      <div class="authBlock">
        <h3>Obrigado por se registrar</h3>

        <div class="formGroup" *ngIf="authService.userData as user">
          <p class="text-center"style = "margin-top: 20px; margin-bottom: 10px;">Enviamos um email de confirmação para <strong>{{user.email}}</strong>.</p>
          <p class="text-center">Verifique seu e-mail e clique no link para verificar seu endereço de e-mail. Não recebeu o email?</p>
        </div>

        <!-- Calling SendVerificationMail() method using authService Api -->
        <div class="formGroup">
          <button type="button" class="btn btnPrimary" style = "margin-bottom: 50px;" (click)="authService.SendVerificationMail()">
            <i class="fas fa-redo-alt"></i>
            Reenviar email de verificação
          </button>
        </div>

      </div>

      <div class="redirectToLogin">
        <span>Voltar?<span class="redirect btn btn-link" routerLink="/sign-in" style = "cursor: pointer;"> Entrar</span></span>
      </div>

    </div>
  </div>
